html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  touch-action: none;
}

span {
  background-color: white;
  display: block;
}


/* 
div#game {
  aspect-ratio: 1/2;
  background-color: darkblue;
}

textarea {
  position: fixed;
  top: 100px;
  background-color: #ffffff88;
}

@keyframes blink {
  0% {
    background-color: red;
  }

  50% {
    background-color: blue;
  }

  100% {
    background-color: red;
  }
}

[type="out"] {
  animation: blink 0.3s infinite;
}

.ball {
  border-radius: 50%;
}

.distractor {
  border-radius: 30%;
}

.distractor[type="♥"] {
  background-color: red;
}

.paddle {
  background-color: red;
}

.block {
  background-color: white;
}

.block[type="2"] {
  background-color: lightblue;
}

.heart {
  background-color: red;
}

.heart::after,
.distractor[type="♥"]::after {
  content: "♥";
}

.distractor[type="☠"]::after {
  content: "☠";
  background-color: black;
  color: white;
} */