html,
body,
div {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
}

div#game {
  aspect-ratio: 1/2;
  background-color: darkblue;
}

span {
  background-color: white;
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 1px;
  text-align: center; 
}

@keyframes blink {  0% {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: red;
  }
}

.ball {
  border-radius: 50%;
}
.ball[type="out"] {
  animation: blink 0.3s infinite;
}

.distractor {
  border-radius: 30%;
}

.distractor[type="♥"] {
  background-color: red;
}

.paddle {
  background-color: red;
}

.block {
  background-color: white;
}

.block[type="2"] {
  background-color: lightblue;
}

.heart {
  background-color: red;
}

.heart::after, .distractor[type="♥"]::after {
  content: "♥";
}

.distractor[type="☠"]::after {
  content: "☠";
  background-color: black;
  color: white;
}