html,
body,
div {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
}

div#game {
  aspect-ratio: 1/2;
  background-color: darkblue;
}

span {
  background-color: white;
  display: inline-block;
  position: fixed;
  width: 1px;
  height: 1px;
}

.ball {
  border-radius: 50%;
}

.distractor {
  border-radius: 20%;
}

.paddle {
  background-color: red;
}

.block {
  background-color: white;
}

.block[type="2"] {
  background-color: lightblue;
}
.block[type="*"] {
  background-color: red;
}