body,
html,
iframe {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
}

body {
  display: grid;
  grid-template-rows: 10% auto 10%;
}

div {
  background-color: blueviolet;
}

div#header {
  display: grid;
  grid-template-columns: auto auto auto;
  object-fit: contain;
  display: flex;
}

span {
  text-align: center;
}

figure {
  height: 100%;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

figcaption {
  position: relative;
  bottom: 1em;
  background-color: #ffffff80;
}

img {
  height: 100%;
}